@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Roboto:wght@100;300;400;500;700&display=swap');


.searchBar{
 background-color: #f9f9f9;
}
.searchDate {
    position: relative;
}

.inputSearchPeople {
    width: 40px;
    text-align: center;
    font-size: 13px;
    padding: 1px 0;
}

.textDateRange {
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

.rangePlaceHolder {
    font-family: "Roboto";
    text-align: center;
    font-size: 12px;
    color: #999999;
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
}


.btn.btnSearch {
    background-color: #c19b76;
    font-family: "Roboto";
    color: #fff;
    font-size: 13px;
}

.btn.btnSearch:hover {
   background-color:  #8b653b;
   color: #fff;
}

.btn.btnSearch:active {
    background-color: #8b653b !important;
    outline: none;
    border: none;

}

.calendar {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 2;
  }

.closeCalendarBtn {
    background-color: #fff;
    font-family: "Roboto";
    font-size: 13px;
    padding: 10px 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .calendar {
        position: absolute;
        top: 30px;
        left: -60px;
        z-index: 2;
      }
  }