.serviceTitle {
    font-family: "Gilda Display";
    font-size: 25px;
    color: #1c1c1c;
    padding: 70px;
    text-align: center;
}

.serviceText {
    font-family: "Gilda Display";
    font-size: 25px;
    color: #1c1c1c;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .infoTitle1{
        font-size: 40px;
        text-align: center;
    }
    .serviceText {
        font-size: 25px;
    }
    .iconService {
        width: 50px;
    }
    .serviceTitle {
        font-size: 25px;
    }
  }