.bottom-banner {
    background: url("https://images.unsplash.com/photo-1592494804071-faea15d93a8a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    height: 40vh;
    background-position: bottom;

    filter: brightness(90%);
    /* overflow: hidden; */
}

.subtitle-bb {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 22px;
    color: #FFF;
}

.title-bb {
    font-family: "Gilda Display";
    color: #FFF;
    font-size: 55px;
}