@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Roboto:wght@100;300&display=swap');

.titulo-galery {
    font-family: 'Gilda Display', serif;
    font-size: 3.5rem !important;
}

.img-carrousel {
    height: 400px;
}

.titulos-rooms {
    margin-top: 180px !important;
}
