@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Roboto:wght@100;300&display=swap');

.bg-img-services {
    background-image: linear-gradient(rgba(56, 53, 53, .5), rgba(56, 53, 53, .5)),
        url("https://images.unsplash.com/photo-1663659511138-fdfa5a9a245b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}


.service-description {
    align-items: center;
    justify-content: center;
}

.card-icon-services {
    justify-content: center;
}

.card-icon-service {
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h2,
h3 {
    font-family: 'Gilda Display';
}

.parrafo-service {
    font-family: 'Gilda Display';
}

.sub-icon {
    font-family: 'Gilda Display';
    font-size: small;
}