@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Roboto:wght@100;300&display=swap');



.titulo-registro {
    padding-top: -20px;
    font-family: 'Gilda Display', serif;
    font-size: 2.5rem;
}

/* .row-registro {
    margin-top: 120px !important;
} */


.registro {
    background-image: linear-gradient(rgba(5,7,12,.75),rgba(5,7,12,.75)),
        url(https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px !important ;
} 

.div-registro {
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}

.btn-outline-light {
    background-color: #95724c !important;
    color: white;
}

.btn-outline-light:hover {
    background-color: #8b653b !important;
}

a {
    text-decoration: none;
}

.link {
    color: #c19b76 !important;
}

.link:hover {
    color: #8b653b !important;
} 

.form-control:focus {
    box-shadow: -1px 1px 11px 1px rgba(139, 101, 59, 0.75) !important;
    -webkit-box-shadow: -1px 1px 11px 1px rgba(139, 101, 59, 0.75) !important;
    -moz-box-shadow: -1px 1px 11px 1px rgba(139, 101, 59, 0.75) !important;
} 